/.idea
/docker/db/
/docker/redis/

/node_modules
/public/hot
/public/node_modules/
/public/storage
/storage/*.key
/public/package-lock.json
/vendor
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log